<ion-header>
  <ion-menu-button menu="main-menu"></ion-menu-button>
  <ion-icon name="person-circle-outline" class="usericon"></ion-icon>
</ion-header>

<ion-content color="primary">
  <ion-title color="light" class="ion-text-center">What do you prefer?</ion-title>
  <ion-button class="qbuttons" size="large">SUMMER

  </ion-button>
  <ion-button class="qbuttons" size="large">FALL</ion-button>
  <ion-button class="qbuttons" size="large">WINTER</ion-button>
  <ion-button class="qbuttons" size="large">SPRING</ion-button>
  <ion-button class="next-btn" size="large">NEXT</ion-button>
  <ion-button class="back-btn" size="large">BACK</ion-button>
</ion-content>
