ion-header {
    background: #081A24 ;
    border-bottom: 2em solid#081A24 ;
}
ion-menu-button {
    color: white;
    float: left;
    width: unset;
    font-size: 2em;
    margin-top: 0.3em;
    margin-left: 0.3em;
}

.usericon {
    color: white;
    font-size: 2em;
    float: right;
    margin-right: 0.5em;
    margin-top: 0.5em;
  }