<ion-header>
  <ion-menu-button menu="main-menu"></ion-menu-button>
  <ion-icon name="person-circle-outline" class="usericon"></ion-icon>
</ion-header>
<ion-content>
<ion-row>
  <ion-col>
    <ion-button  [routerLink]="['/welcome']" class="back" type="submit" color="secondary" expand="block">BACK</ion-button>
  </ion-col>
</ion-row>
</ion-content>
<ion-content>
<ion-card-content>
  <p>Please sccan QR code</p>
</ion-card-content>
<ion-button expand='block' margin (click)="goToQrScan()">Click to scan a barcode</ion-button>
<div *ngIf="scannedData">
  <p>
    Scanned Code Text : <b>{{ scannedData["text"] }}</b>
  </p>
  <p>
    Scanned Code Format : <b>{{ scannedData["format"] }}</b>
  </p>
</div>
</ion-content>