.create {
    width: 270px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #2DA8F1, #E05BF1);
  }
  .back {
    width: 270px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #2DA8F1, #E05BF1);
  }
  .logo{
      background-color: #081A24 ;
      width: auto;
      height: auto;
      left: auto;
      right: auto;
      top: 3px;
      margin-left: auto;
      margin-right: auto;
      
}
img{
    margin-left: 80px;
    margin-right: 80px;
}



  
ion-item {
    --border-top-width: 0.5px;
    --border-end-width: 0.5px;
    --border-bottom-width: 0.5px;
    --border-start-width: 0.5px;
      width: 250px;
      height: 55px;
    
    
    
    --inner-border-width: 0;
    
    --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
    border: 1px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #2DA8F1, #E05BF1);
}
ion-item{
    margin-left: auto;
    margin-right: auto;
    
}


.item-background-color{
    --ion-item-background:#152B38;
}
.header-md::after {
  display: none;
}
//   .back {
//     width: 60px;
//     height: 60px;
//     --border-radius: 50%;
//     --vertical-align: middle;

//     --padding-start: 10px;
//     --padding-end: 10px;
//   }